.grupoInputBtn {
  margin-bottom: 32px;
}

.grupoInputBtn input {
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  height: 82px;
  width: 70%;
  box-sizing: border-box;
  padding-left: 32px;
  border: 2px solid #000;
  box-shadow: 0px 2px 0px 1px #000000;
  font-size: 20px;
}

.grupoInputBtn input:focus {
  outline: none;
}

.grupoInputBtn button {
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  height: 82px;
  width: 30%;
  box-sizing: border-box;
  color: #000;
  border: 2px solid #000;
  box-shadow: 2px 2px 0px 1px #000000;
  font-size: 20px;
  background-color: #c4c4c4;
  cursor: pointer;
}

.grupoInputBtn button:hover {
  opacity: 0.8;
}

.grupoInputBtn button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.alertaErro {
  color: #842029;
  background-color: #f8d7da;
  padding: 16px;
  border: 1px solid #f5c2c7;
  border-radius: 8px;
  margin: 16px 0;
}

@media screen and (max-width: 800px) {
  .alertaErro {
    margin: 48px 0;
  }

  .grupoInputBtn input {
    display: block;
    width: 100%;
    border-radius: 45px;
    box-shadow: 0px 2px 0px 1px #000000;
  }

  .grupoInputBtn button {
    display: block;
    margin-top: 16px;
    margin: 0 auto;
    width: 220px;
    border-radius: 45px;
  }
}
